.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 50px;
}

button {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  margin-right: 50px;
  margin-bottom: 50px;
}
